html{
    height: 100%;
    animation: glow 4s infinite;
}
@keyframes glow{
0% {    box-shadow:inset 0 45em 25em #231010, inset 0 -45em 25em #550000;}
50%{    box-shadow:inset 0 20em 25em #231010, inset 0 -20em 25em #550000;}
100%{    box-shadow:inset 0 45em 25em #231010, inset 0 -45em 25em #550000;}
}
body{
    background-color:#231010;
    font-family:'diablo';

}
@font-face{
    font-family:'diablo';
    src: url('./assets/Exocet\ Light.TTF')
}
section{
    text-align:center;
    color:darkgray;
    top:25%;
    left:5%;
    right: 66%;
    font-size:20px;
    margin-right: 66%;
    margin-left:5%;
    margin-top:5%;
    border-radius:5%
}
header{
    width: 100%;
    height:25%;
    margin: auto;
}
button{
    font-family:'diablo';
    background:url(./assets/d3buttonFinal.png);
    background-repeat: "no-repeat";
    background-size:cover;
    color:slategray;
    height:60px;
    width:150px;
    font-size:20px;
    text-align:center;
}
form{
    margin:0 auto;
    text-align:center;
}
img{
    position: absolute;
    top:30%;
    left:10%;
    width:20%;
    height:40%;
    z-index:-10;
    opacity:.3
}
.footer{
    text-align: center;
    font-size: 11px;
    color: slategrey;
    position:absolute;
    bottom:0;
}
.d3Prelude:hover{
    box-shadow:0px 0px 30px 0px lightblue;
} 
 .d3Act1:hover{
     box-shadow:0px 0px 30px 0px white;
 } 
 .d3Act2:hover{
    box-shadow:0px 0px 30px 0px blue;
} 
.d3Act3:hover{
    box-shadow:0px 0px 30px 0px green;
} 
.d3Act4:hover{
    box-shadow:0px 0px 30px 0px yellow;
} 
.d3Act5:hover{
    box-shadow:0px 0px 30px 0px orangered;
} 
span{
    padding-right:4.5%;
}
.video{
    margin-right:25%;
}
